@{
    ViewData["Title"] = "Adres e-mail został potwierdzony!";
}
<link rel="stylesheet" href="~/css/confirmemail.css" />
<h1>Twoje konto zostało aktywowane!</h1>
<p>
    Twój adres e-mail został potwierdzony! Możesz już zalogować się do aplikacji!
</p>