@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model dynamic
@{
    Layout = "~/Pages/_LayoutNavigation.cshtml";
}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/groups.css" />

<h4 id="makeMeWhite">Nie masz jeszcze grupy! Utwórz nową lub zapisz się do już istniejącej!</h4>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Domowe
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne">
            <div class="accordion-body">
                <table class="table-responsive-xl col-xl">
                    <thead>
                        <tr>
                            <th>Zadanie</th>
                            <th>Opis</th>
                            <th class="hideItOnMobile">Data utworzenia</th>
                            <th>Status</th>
                            <th class="hideItOnMobile">Przypisana osoba</th>
                        </tr>
                    </thead>
                    <tbody>
                     
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Zakupy
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
            <div class="accordion-body">
                <table class="table-responsive-xl col-xl">
                    <thead>
                        <tr>
                            <th>Zadanie</th>
                            <th>Opis</th>
                            <th class="hideItOnMobile">Data utworzenia</th>
                            <th>Status</th>
                            <th class="hideItOnMobile">Przypisana osoba</th>
                        </tr>
                    </thead>
                    <tbody>
                 
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Urzędowe
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
            <div class="accordion-body">
                <table class="table-responsive-xl col-xl">
                    <thead>
                        <tr>
                            <th>Zadanie</th>
                            <th>Opis</th>
                            <th class="hideItOnMobile">Data utworzenia</th>
                            <th>Status</th>
                            <th class="hideItOnMobile">Przypisana osoba</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Spotkania
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour">
            <div class="accordion-body">
                <table class="table-responsive-xl col-xl">
                    <thead>
                        <tr>
                            <th>Zadanie</th>
                            <th>Opis</th>
                            <th class="hideItOnMobile">Data utworzenia</th>
                            <th>Status</th>
                            <th class="hideItOnMobile">Przypisana osoba</th>
                        </tr>
                    </thead>
                    <tbody>
                  
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                Wizyty lekarskie
            </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive">
            <div class="accordion-body">
                <table class="table-responsive-xl col-xl">
                    <thead>
                        <tr>
                            <th>Zadanie</th>
                            <th>Opis</th>
                            <th class="hideItOnMobile">Data utworzenia</th>
                            <th>Status</th>
                            <th class="hideItOnMobile">Przypisana osoba</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                Inne
            </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix">
            <div class="accordion-body">
                <table class="table-responsive-xl col-xl">
                    <thead>
                        <tr>
                            <th>Zadanie</th>
                            <th>Opis</th>
                            <th class="hideItOnMobile">Data utworzenia</th>
                            <th>Status</th>
                            <th class="hideItOnMobile">Przypisana osoba</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

