h1 {
    color: white;
}

.mainEdit {
    background-color: hsla(207, 58%, 93%, 0.9);
    border-radius: 10px;
    border: white solid 2px;
}

#backtolist{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 20px;
    }
}