@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Hasło poprawnie zresetowane!";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zmienione. <a asp-page="./Login">Zaloguj się</a>.
</p>
